/*# sourceURL=./css/main.css */
/*@ sourceURL=./css/main.css */
@charset "uft-8";


main{padding-top: 120px;}

.badges{
  width: 130px;
  position: fixed;
  right: 10px;
  top: 140px;
  z-index: 90;
}

.badges img{
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .6);
}

.badges img:last-child{
  margin-top: 10px;
}

/* 비주얼 영역 */
.visual{
  height: 646px;
  background-image: url("https://eliow010203.github.io/coffee/css/../images/visual_bg.jpg");
}

.visual h2{
  display: none;
}

.visual .inner{
  width: 1100px;
  height: 646px;
  margin: 0px auto;
  position: relative;
}

.title,.cup1,.cup1_txt,.cup2,.cup2_txt,.spoon{
  position: absolute;
}

.title{
  top: 40px;
  left: -10px;
}

.cup1{
  bottom: 0px;
  right: -47px;
}

.cup1_txt{
  top: 40px;
  right: 60px;
}

.cup2{
  bottom: 0px;
  right: 162px;
}

.cup2_txt{
  top: 186px;
  right: 412px;
}

.spoon{
  bottom: 0px;
  left: 275px;
}

.btn{
  width: 130px;
  padding: 10px;
  border: 4px;
  border: 2px solid #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  transform: translateX(130px);
  border-radius: 5px;
}
.btn:hover{
  color:#fff;
  background-color:#333;
}
.detail_btn{
  border: 2px solid #592b18;
  color: #592b18;
}

.detail_btn:hover{
  color: #fff;
  background-color: #592b18;
}

.fadein{
  opacity: 0;
}

/* 공지사항 서식 */
.notice{
  height: 62px;
  background: linear-gradient(right,);
  background: rgb(51,51,51);
  background: linear-gradient(90deg, rgba(51,51,51,1) 50%, rgba(246,245,239,1) 50%);
}

.n_inner{
  width: 1100px;
  margin: 0px auto;
  display: flex;
}

.n_inner__left{
  width: 70%;
  height: 62px;
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.n_inner__left h2{
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
}

.s_notice{
  width: 70%;
  height: 62px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.s_notice .swiper-slide {
  text-align: center;
  font-size: 10px;
  /* background-color: #fff; */

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.s_notice .swiper-slide a {
  display: block;
  width: 100%;
  object-fit: cover;
}

.n_inner__left .s_notice .swiper-wrapper a{
  color: #fff;
  font-size: 16px;
  line-height: 42px;
  text-align: left;
  text-indent: 27px;
}

.n_inner__left>a{
  color: #fff;
  display: block;
 
  margin-left: 110px;

}

.n_inner__left a .addicon{
  font-size: 30px;
  line-height: 60px;
}

.n_inner__right{
  width: 30%;
  height: 62px;
  background-color: #f6f5ef;
  display: flex;
  justify-content: center;
}

.n_inner__right h2{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  line-height: 60px;
  padding: 0px 0px 0px 140px;
}

.n_inner__right i{
  font-size: 30px;
  padding: 15px 0px 0px 20px;
}

/* 프로모션 서식 */

.promotion {
  display: flex;
  justify-content: center;
  background-color: #f6f5ef;
  overflow: hidden;
  position: relative;
  height: 663px;
  transition: height .4s;
}
.promotion.hide {
  height: 0;
}
.promotion .proslide {
  width: calc(819px * 3 + 10px * 2);
  height: 553px;
  flex-shrink: 0;
}
.promotion .swiper-slide {
  position: relative;
  opacity: .5;
  transition: 1s;
}
.promotion .swiper-slide-active {
  opacity: 1;
}

.promotion .btn{
  width: 130px;
  padding: 10px;
  border: 4px;
  border: 2px solid #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: block;
  transition: 0.4s;
  color: #333;
  margin: 0px auto;
  border-radius: 5px;
  z-index: 1001;
  transform: translateY(-50px);
}

.promotion .btn:hover{
  color: #fff;
  background-color: #333;
}


.promotion .swiper-pagination {
  bottom: 40px !important;
  z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: #f6f5ef;
  background-image: url("https://eliow010203.github.io/coffee/css/../images/promotion_slide_pager.png");
  width: 13px;
  height: 12px;
  margin-right: 6px;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("https://eliow010203.github.io/coffee/css/../images/promotion_slide_pager_on.png");
}
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%;
  top: 300px;
  z-index: 1;
  color: #333;
}
.promotion .swiper-button-prev {
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-next {
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-button-prev:hover,
.promotion .swiper-button-next:hover {
  background-color: #333;
  color: #fff;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}
/*리워드 서식*/
.reward{
  height: 241px;
  background: rgb(39,39,39);
  background: linear-gradient(90deg, rgba(39,39,39,1) 52%, rgba(213,199,152,1) 52%);
}
.reward_inner{
  background-image: url('../images/rewards.jpg');
  width:1100px;
  height:241px;
  margin:0px auto;
  position:relative;
}
.btn_group{
  position:absolute;
  right:0px;
  bottom:30px;
  width:400px;
  /* border:3px solid #f00; */
}
.gift{width:250px;}
.btn_join, .btn_login{
  width:111.5px;
  display:inline-block;
  margin-bottom:10px;
}
/*영상콘텐츠*/
.movie{
  width:100%;
  height:700px;
  background:#333;
  position:relative;
  overflow:hidden;
}
.movie .m_inner{
  width:1100px;height:700px;
  margin:0px auto;
  position:relative;
  z-index:12; /*z-index는 포지션과 함께 쓰기*/
}
.movie .m_inner img{
  position:relative;
}
/*각 이미지의 위치 잡기*/
.m_inner .m_img1{position:absolute;left:0px;top:50px;}
.m_img2{left:150px;top:350px;}
.m_img3{right:0px;bottom:-60px;}

.youtube{
  width:100%;
  height:700px;
  position:absolute;top:0px;left:0px;
  z-index:10;
}
.youtube video{
  width:100%;height:100%;
}
.cover{
  position:absolute;
  top:0px;left:0px;
  width:100%;height:100%;
  z-index:11;
  background-image:url('../images/video_cover_pattern.png');
}

/*아이스커피 블랜드*/
.season-product{
  background:url('../images/season_product_bg.jpg');
  height:400px;
}
.season-product h2{display:none;}
.inner{
  width:1100px;
  margin:0px auto;
  /* border:3px solid #ff0; */
  position:relative;
}
.season-product .txt_group{
  position:absolute;
  top:110px;
  right:100px;
  width:480px;
  text-align:left;
}
.season-product .c_title{
  margin-bottom:10px;
}
.season-product .description{
  margin-bottom:15px;
}
.txt_group .btn{
  transform:none;
}

/*리저브 커피*/
.reserve-coffee{
  background-image:url("../images/reserve_bg.jpg");
}
.reserve-coffee .inner{
  height:400px;
}
.reserve-coffee .reserve-logo{
  position:absolute;
  top:110px;
  left:0;
}
.reserve-coffee .txt_group{
  position:absolute;
  top:124px;
  left:208px;
}
.reserve-coffee .product{
  position:absolute;
  top:0;
  right:0;
}

.btn--white{
  border: 2px solid #fff;
  color: #fff;
}
/* favorite */
.pick-your-favorite{
  background-image: url('../images/favorite_bg.jpg');
}
.pick-your-favorite .inner{
  padding: 110px 0;
}
.pick-your-favorite .text-group{
  width: 362px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* border: 10px solid red; */
} 
.pick-your-favorite .text-group .title{
  margin-bottom: 50px;
}
.pick-your-favorite .text-group .description{
  margin-bottom: 40px;
}

/* 리저브 스토어 */
.reserve-store{
  background-image: url('../images/reserve_store_bg.jpg');
}
.reserve-store .inner{
  height: 600px;
}
/* find store */
.find-store{
  background-image: url('../images/find_store_bg.jpg');
}
.find-store .inner{
  height: 400px;
}

.find-store .texture1{
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2{
  position: absolute;
  bottom: 0;
  right: 0px;
}
.find-store .picture1{
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
  position: absolute;
  top: -60px;
  left: 0;
}
.find-store .picture1{
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
  position: absolute;
  top: 150px;
  left: 250px;
}